!!!
%html

  %head
    %title Redmon Dashboard

    %script(type="text/javascript" src="vendor/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="vendor/highcharts.js")
    %script(type="text/javascript" src="redmon.js")

    %link(type="text/css" rel="stylesheet" href="redmon.css")

  %body
    #viewport
      #container{:style => "width:790px;height:300px"}
