!!!
%html
  %head
    %title Redmon Dashboard

    %script(type="text/javascript" src="vendor/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="vendor/highcharts.js")
    %script(type="text/javascript" src="redmon.js")

    %link(type="text/css" rel="stylesheet" href="vendor/bootstrap.min.css")
    %link(type="text/css" rel="stylesheet" href="redmon.css")

  %body
    .topbar
      .fill
        .container
          %a.brand Redmon
    .container
      .content
        .page-header
          %h1 #{redis_url}
        .row
          .span8
            .widget
              #memory-container{:style => "width:450px;height:200px"}
          .span8
            .widget
              #keyspace-container{:style => "width:450px;height:200px"}