
/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 1200px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.headbar {
  height:36px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9);
  background-image: linear-gradient(top, #f4f4f4, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#e9e9e9');
  padding: 0 15px;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #d0d0d0;
  font-size:13px;
  line-height:29px;
  text-shadow: 1px 0px 2px rgba(255, 255, 255, 1);
  -moz-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  -webkit-text-shadow: 1px 0px 2px rgba(255,255,255,1);
  overflow:hidden;
}

.headbar.small{ height:29px; }

.headbar h2{ line-height:37px; margin:0; float:left; font-size:14px; }